@{
    Layout = null;
}


<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>有奖征集</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="~/Content/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <style type="text/css">
        #head-slide {
            border-bottom: 0;
        }

        #head-slide {
            border-bottom: 0;
        }

        #head-slide {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            background: #ffffff;
            border-bottom: 1px solid #ddd;
        }

        .native-scroll {
            overflow: auto !important;
            -webkit-overflow-scrolling: touch !important;
        }

        .head-slides {
            position: relative;
            width: 100%;
            /* background: #64c1ed; */
            height: 100%;
            z-index: 1;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            -o-transition-property: -o-transform;
            -ms-transition-property: -ms-transform;
            transition-property: transform;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            color: white;
        }

        .head-slides .slide-items.selected {
            font-weight: 700;
        }

        .head-slides .slide-items {
            font-size: 14px;
            line-height: 40px;
        }


        .head-slides .slide-items {
            user-select: none;
            display: block;
            width: auto;
            float: left;
            position: relative;
            padding: 0 20px;
            color: #333;
            line-height: 44px;
            font-size: 16px;
            text-align: center;
            box-sizing: border-box;
            transition: all ease .3s;
            -webkit-flex-shrink: 0;
            -ms-flex: 0 0 auto;
            flex-shrink: 0;
            z-index: 2;
            padding: 0 10px;
            background: #64c1ed;
            margin-right: 10px;
            font-weight: 700;
            box-shadow: 1px 2px 3px #322e2e;
        }

        .withdrawals-panel {
            border: solid 1px #ccc;
            border-radius: 5px;
            background-color: #fff;
            padding: 0.8rem 0.6rem;
            margin-bottom: 0.3rem;
            overflow: hidden;
            background: #fadae7;
        }

        .header-form {
            position: relative;
            width: 100%;
            background: #afe5ff;
            border-bottom: 1px solid #F1F1F1;
            height: 79px;
            text-align: center;
            line-height: 81px;
            font-size: 22px;
            box-shadow: 1px 2px 3px #cbcbcb;
            color: #4f5051;
            margin-bottom: 10px;
        }

        p {
            font-weight: bold;
        }

        .biaoti {
            border-bottom: 1px solid #000000;
            margin: 0;
            width: 50%;
            position: relative;
            margin: 0 auto;
        }

        h1 {
            text-align: center;
        }

        .cart-panel {
            padding: 9px 10px;
            background: #ffffff !important;
        }

        input {
            border: none;
            border-bottom: 1px solid #8aa3a7;
        }

        body {
            color: #8aa3a7;
        }

        .am-form select {
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            -webkit-border-radius: 0;
            background: #f2d9e6 no-repeat 100% center;
            color: #8aa3a7;
            font-size: 12px;
        }

        select {
            border-color: #8aa3a7;
        }

        select option {
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="container" style="padding: 40px;">
        <h1 style="border-bottom:1px solid grey">有奖征集</h1>
        <div class="cart-panel">
            <form id="createForm" class="am-form" method="post">
                <div class="am-form-group am-form-icon">
                    征集类型
                    <select id="ddlType" name="ddlType" class="select-area am-radius">
                        @foreach (du720.Common.Enums.eShopType item in Enum.GetValues(typeof(du720.Common.Enums.eShopType)))
                        {
                            <option value="@item.GetHashCode()">@item.ToString()</option>
                        }
                    </select>
                </div>
                <div class="am-form-group am-form-icon">
                    联系人
                    <input id="txtUserName" name="txtUserName" value="" />
                </div>
                <div class="am-form-group am-form-icon">
                    手机号码
                    <input id="txtPhone" name="txtPhone" value="" />
                </div>
                <div class="am-form-group am-form-icon">
                    推荐原因
                    <textarea id="txtReason" name="txtReason"></textarea>
                </div>
                <div class="am-form-group am-form-icon" style="text-align:center;">
                    <input type="button" id="btnSend" name="btnSend" value="提交" />
                </div>
            </form>
        </div>
    </div>
    <script src="~/Content/js/Lib/jquery/1.8.0/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="~/Content/js/Module/Common.js" type="text/javascript"></script>
    <script src="~/Content/js/Lib/Layer/layer.m.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSend").on("click", function (e) {
                doSubmit(e);
            });
        });

        function doSubmit(e) {
            e.preventDefault();
            var txtUserName = $.trim($('#txtUserName').val());
            var txtPhone = $.trim($('#txtPhone').val());
            var txtReason = $.trim($('#txtReason').val());
            var ddlType = $.trim($('#ddlType').val());

            if (txtUserName == "") {
                layerHelp.msg("联系人不能为空");
                return false;
            }
            if (txtPhone == "") {
                layerHelp.msg("手机号码不能为空");
                return false;
            }
            if (txtReason == "") {
                layerHelp.msg("推荐原因不能为空");
                return false;
            }
            else if (txtReason.length > 200) {
                layerHelp.msg("推荐原因太长了");
                return false;
            }
            

            var ajaxParam = {
                txtUserName: txtUserName,
                txtPhone: txtPhone,
                txtReason: txtReason,
                ddlType: ddlType
            };

            var sucess = false;
            $.ajax({
                type: "POST",
                url: "/Collect/doSave",
                data: ajaxParam,
                dataType: "json",
                beforeSend: function () { layerHelp.loading(); $("#btnSend").attr("disabled", "disabled").text('提交...'); },
                success: function (result) {
                    layer.closeAll();
                    var handleResult = JsonEval(result);
                    if (handleResult.StatsCode == 200) {
                        sucess = true;
                        $("#btnSend").text('提交成功');
                        var str = handleResult.Message;
                        layer.open({
                            content: '<div class="upload-succ"><div><p><a href="javascript:layer.closeAll();"></a></p><p>已提交成功</p></div></div>',
                            style: 'border:none;',
                            time: 3,
                            end: function () {
                                window.location.href = window.location.href;
                            }
                        });
                    } else {
                        layerHelp.msg(handleResult.Message);
                    }
                },
                complete: function () {
                    if (!sucess) { $("#btnSend").removeAttr("disabled").text('提交'); }
                }
            });
        }
    </script>
</body>
</html>
