html {
    position: relative;
    width: 100%;
    height: 100%;
    font-size-adjust: none;
    -webkit-font-size-adjust: none;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.demo-photo {
    height: 100%;
    overflow: hidden;
    background-color: #aaa;
}

div.dev {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.35);
}

.my-scene-link {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.29);
    font-size: 12px;
    height: 80px;
    line-height: 80px;
    overflow: visible;
    text-align: center;
    width: 120px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.photo-wrapper {
    position: absolute;
    bottom: 60px;
    left: 0;
    height: 78px;
    width: 100%;
    overflow-x: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    -webkit-overflow-scrolling: touch;
}

.photo-list {
    display: inline-block;
    white-space: nowrap;
    padding: 4px 8px;
    line-height: 0;
}

    .photo-list > div {
        position: relative;
        display: inline-block;
        width: 64px;
        height: 64px;
        border: 2px solid #fff;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        margin: 0 5px;
        cursor: pointer;
        border-radius: 3px;
    }

        .photo-list > div.active {
            border-color: #3ff7dd;
        }

        .photo-list > div > img {
            width: 100%;
            height: 100%;
            border: 0;
        }

        .photo-list > div > span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            overflow: hidden;
            line-height: 18px;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            font-size: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

.image-view {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    overflow: auto;
    background: #f2f2f2;
}

    .image-view > .image-content {
        position: absolute;
        display: inline-block;
        line-height: 0;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

.image-content > img {
    width: 100%;
}
