@charset "utf-8";
/* CSS Document */
html, body, div, span,h1, h2, h3, h4, h5, h6, p, a,img,form,label,ul,li,input{margin: 0;padding:0;border:0;outline:0;}
body {font-family: 微软雅黑;color: #555;background:#FFF;font-size: 12px;}
h1, h2, h3, h4, h5, h6 {font-family:微软雅黑;color:#264ab4;font-weight: bold;}
li{list-style:none;}
h1{ font-family: Calibri, Helvetica, Arial, sans-serif; font-weight: bold; color: #fff;  position: absolute; top: -1000px;}
a{ color: #57a000; text-decoration: none; }
a:hover { color: #000; }
a:active{ color: #777; }
a:focus{ outline: 1px; }
strong{ font-weight: bold; color: #333; }
p { padding: 5px 0 10px 0;line-height: 1.6em;}
.clear {clear: both;}


/********************************      Login Page      ********************************/

body#login {color: #fff;}
#login-wrapper {background: url('../images/login_top_bg.gif') top left repeat-x;}
#login-wrapper #login-top {width: 100%;padding: 125px 0 40px 0;text-align: center;}
#login-wrapper #login-content {text-align: left;width: 316px;margin: 0 auto; clear:both;}
#login-wrapper #login-content .notification{width:314px;float:left; display:inline;height:30px;border-top:1px solid #0c97de;border-left:1px solid #0c97de;border-right:1px solid #0c97de;background-color: #e2f4fe;color:#264ab4;}
#login-wrapper #login-content .notification h3{width:290px;float:left; display:inline;height:18px; line-height:18px;padding:6px 0 5px 24px; background:url(../images/login_bg.gif) no-repeat 5px 7px;border-bottom:1px solid #ceeaf8;font-size:14px;}
#login-wrapper #login-content .content{width:314px;float:left; display:inline;border-bottom:1px solid #909090;border-left:1px solid #909090;border-right:1px solid #909090;background-color: #FFF;color:#264ab4; height:170px;}
#login-wrapper #login-content .content ul{width:234px; padding:15px 40px;float:left; display:inline;}
#login-wrapper #login-content .content li{width:234px; height:25px; line-height:25px;float:left; display:inline; margin:15px 0 0 0;}
#login-wrapper #login-content label {font-weight: normal;font-size: 14px;font-family: 微软雅黑;padding: 0;}
#login-wrapper #login-content .input {border:1px solid #0c97de;background: #fff; height:23px; line-height:23px;}
#login-wrapper #login-content p {padding: 0;}
#login-wrapper #login-content p#remember-password {float: right;}
#login-wrapper #login-content p#remember-password input {float: none;width: auto;border: 0;background: none;margin: 0 10px 0 0;}
#login-wrapper #login-content .button {width:114px; height:28px; background:url(../images/login_bg.gif) no-repeat scroll 0 -31px; cursor:pointer; margin:0 0 10px 55px;}