@charset "utf-8";
/* CSS Document */
body,div,ul,li,h1,h2,h3,h4,input,form,p, a,img,table,fieldset{margin:0;padding:0;border:0;outline:0;}
body{font-family: 微软雅黑;color: #555;background:#FFF;font-size: 12px;}
h1, h2, h3, h4, h5, h6 {font-family:微软雅黑;color:#264ab4;font-weight: bold;}
li{list-style:none;}
table{border-collapse:collapse; border-spacing:inherit;}
fieldset{border:1px solid #c3cde1;}
legend{margin:0 0 0 5px; color:#264ab4; font-size:14px;}
label,input{vertical-align:middle;font-weight: normal;font-size: 14px;padding: 3;}
a{ color: #264ab4; text-decoration: none; }
a:hover { color: #000; }
a:active{ color: #777; }
a:focus{ outline: 1px; }
.clear{clear:both;}
/******************************************************************************/
#top_box{width:100%; height:59px; background:#e2f4fe; border-bottom:1px solid #0c97de;}
#top_box .logo{float:left; display:inline; font-size:24px; width:300px; height:39px; padding:10px;}
#top_box .status{float:right; margin:40px 10px 0 0;}
#top_box .status label{color:#003399;padding:0 5px; margin:0 0 0 5px;}
#top_box .status .password,#top_box .status .logout{padding:0 0 0 14px; background:url(../images/login_bg.gif) no-repeat 0 0; height:12px; line-height:12px;}
#top_box .status .password{background-position:0px -86px}
#top_box .status .logout{background-position:0 -60px}
#main_box{width:100%;}
#main_box .sidebar{width:168px; height:100%;position:absolute;left:5px;top:65px;border:1px solid #c3cde1;}
#main_box .sidebar .sidebar_nav{width:168px; padding:0; margin:0;}
#main_box .sidebar .sidebar_nav ul{width:168px; padding:0;float:left; display:inline;}
#main_box .sidebar .sidebar_nav li{width:168px; height:30px;line-height:30px;font-size:14px;text-align:center;float:left; display:inline;margin:1px 0 0 0;}
#main_box .sidebar .sidebar_nav li a{height:30px;line-height:30px;width:158px; padding:0 5px;float:left; display:inline;}
#main_box .sidebar .sidebar_nav li a:hover{background:#E2F4FE;} 
#main_box .sidebar .sidebar_nav li .linked{background:#E2F4FE; color:#000;} 
#main_box #main-content{margin: 5px 5px 0 180px; padding:0;border:1px solid #c3cde1;}
#main_box #main-content h3{width:100%;font-size:14px; background:#E2F4FE; height:30px; line-height:30px; text-indent:0.9em;border-bottom:1px solid #c3cde1;border-top:1px solid #FFF;}
#main_box #main-content .search{margin:0 10px;color:#264ab4; border-bottom:1px solid #c3cde1;}
#main_box #main-content .search input{margin:0 0 0 10px; cursor:pointer;height:25px; line-height:25px;}
#main_box #main-content .search label{margin:0 0 0 3px;height:30px; line-height:30px;}
#main_box #main-content .content-box{margin:0; padding:10px;}
#main_box #main-content .content-box table{width:100%}
#main_box #main-content .content-box th{ border:1px solid #b7c1d6; background:#eee; padding:5px; position:static; z-index:100;}
#main_box #main-content .content-box tbody{margin:5px 0 0 0;}
#main_box #main-content .content-box td{padding:5px; border:1px solid #b7c1d6;}
#footer{width:100%; height:24px;line-height:24px; margin:5px 0 0 0; font-size:12px; text-align:center;}
/******************************************************************************/
.input {border:1px solid #888;background: #fff; height:23px; line-height:23px;}
.button {width:100px; height:23px; cursor:pointer;}

.blockUI_wrap_in{background:#fafafa;border:1px solid #ccc}
.blockUI_wrap_bar{width:100%;background:#f7f7f7;border-top:3px solid #f9f9f9;border-bottom:4px solid #eee;margin-top:2px}
.blockUI_wrap_title{line-height:5px;background:#f3f3f3;border-top:4px solid #f5f5f5;border-bottom:5px solid #f1f1f1;margin-top:3px;text-align:left}
.blockUI_wrap_title span{position:relative;margin-left:10px;cursor:text}
.blockUI_wrap_body{background:#FFF;line-height:1.5;padding:15px 30px}
.blockUI_wrap_close{margin-top:-18px;font-size:16px;margin-right:10px;color:#34538b;font-weight:700;font-family:Tahoma;text-decoration:none;cursor:pointer;float:right}
.blockUI_wrap_close:hover{text-decoration:none;color:#f30}
.blockUI h1{font-size:16px;font-weight:700;line-height:1.5}
.blockUI_submit_btn{display:inline-block;background:#486aaa;border:1px solid;color:#f3f3f3;line-height:13px;cursor:pointer;overflow:visible;border-color:#a0b3d6 #34538b #34538b #a0b3d6;padding:3px 12px 2px}
.blockUI_submit_btn:hover{text-decoration:none;color:#fff}
.blockUI_cancel_btn{display:inline-block;background:#eee;border:1px solid;color:#333;line-height:13px;cursor:pointer;overflow:visible;border-color:#f0f0f0 #bbb #bbb #f0f0f0;padding:3px 12px 2px}
