@using du720.Common;
@using du720.Entity;
@{
    Layout = null;
    int StationId = ViewBag.StationId;
    int ShopType = ViewBag.ShopType;
    string stationName = "4号线";
    if(Enum.IsDefined(typeof(du720.Common.Enums.eStation), StationId))
    {
        stationName = ((du720.Common.Enums.eStation)StationId).ToString() + "站";
    }
    int i = 0;
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>商铺列表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link href="~/Content/css/amazeui.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <style type="text/css">
        #head-slide {
            border-bottom: 0;
        }

        #head-slide {
            border-bottom: 0;
        }

        #head-slide {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            background: #ffffff;
            border-bottom: 1px solid #ddd;
        }

        .native-scroll {
            overflow: auto !important;
            -webkit-overflow-scrolling: touch !important;
        }

        .head-slides {
            position: relative;
            width: 100%;
            /* background: #64c1ed; */
            height: 100%;
            z-index: 1;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            -o-transition-property: -o-transform;
            -ms-transition-property: -ms-transform;
            transition-property: transform;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            color: white;
        }

        .head-slides .slide-items.selected {
            font-weight: 700;
        }

        .head-slides .slide-items {
            font-size: 14px;
            line-height: 40px;
        }

        .head-slides {
            padding-left:5px;
        }
        .head-slides .slide-items {
            user-select: none;
            display: block;
            width: auto;
            float: left;
            position: relative;
            padding: 0 20px;
            color: #333;
            line-height: 44px;
            font-size: 12px;
            text-align: center;
            box-sizing: border-box;
            transition: all ease .3s;
            -webkit-flex-shrink: 0;
            -ms-flex: 0 0 auto;
            flex-shrink: 0;
            z-index: 2;
            padding: 0 5px;
            background: #64c1ed;
            margin-right: 10px;
            font-weight: 700;
            box-shadow: 1px 2px 3px #322e2e;
        }

        .withdrawals-panel {
            border: solid 1px #ccc;
            border-radius: 5px;
            background-color: #fff;
            padding: 0.8rem 0.6rem;
            margin-bottom: 0.3rem;
            overflow: hidden;
            background: #fadae7;
        }

        .header-form {
            position: relative;
            width: 100%;
            background: #afe5ff;
            border-bottom: 1px solid #F1F1F1;
            height: 79px;
            text-align: center;
            line-height: 81px;
            font-size: 22px;
            box-shadow: 1px 2px 3px #cbcbcb;
            color: #4f5051;
            margin-bottom: 10px;
        }
        .ac {
            border: solid 1px #ccc;
            border-radius: 5px;
            background-color: #fff;
            padding: 0.8rem 0.6rem;
            margin-bottom: 0.3rem;
            overflow: hidden;
            background: #eee;
            text-align:center;
        }
    </style>
</head>

<body>
    <div class="header-form">
        @(stationName)吃喝玩乐大全
    </div>

    <div id="head-slide" class="native-scroll">
        <ul class="head-slides">
            @foreach (Enums.eShopType item in Enum.GetValues(typeof(Enums.eShopType)))
            {
                string color = "#fadae7";
                if (i % 4 == 0)
                {
                    color = "#fadae7";
                }
                else if (i % 4 == 1)
                {
                    color = "#ffe749";
                }
                else if (i % 4 == 2)
                {
                    color = "#afe5ff";
                }
                else if (i % 4 == 3)
                {
                    color = "#e2ff7e";
                }
                i++;
                <li onclick="location.href='/Shop/Index/@(StationId)?type=@item.GetHashCode()';" class="slide-items @(item.GetHashCode() == ShopType ? "selected" : "")" style="background:@(color)">@item.ToString()</li>
            }
        </ul>
    </div>

    <div class="container">
        <div class="gray-panel">
            <div id="divList" class="my-search-title-panel"></div>
        </div>
    </div>
    <script src="~/Content/js/Lib/jquery/1.8.0/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="~/Content/js/Module/Common.js" type="text/javascript"></script>
    <script src="~/Content/js/Lib/Layer/layer.m.js" type="text/javascript"></script>
    <script type="text/javascript">
        var stationId = @StationId;
        var shopType = @ShopType;
        $(function () {
            nextpage();
        });

        var page = 1;
        var isLoading = false;
        //加载更多列表
        function nextpage() {
            if (isLoading) return false;
            if (page == 1) {
                $("#divList").empty();
            }
            $(window).off();
            $.ajax({
                type: "post",
                url: "/Shop/GetList",
                datatype: "json",
                data: {
                    page: page,
                    stationId: stationId,
                    shopType: shopType
                },
                beforeSend: function () {
                    isLoading = true;
                    $("#divList").append($('<div class="ac voteloading">加载中...</div>'));
                },
                success: function (data) {
                    $("#divList .voteloading").remove();
                    var result = JsonEval(data);
                    if (result.StatsCode == 200 && result.Data != null && result.Data.list.length > 0) {
                        createHTML(result.Data.list);
                        page++;
                        if (result.Data.list.length < 20) {
                            $("#divList").append($('<div class="ac">没有更多了</div>'));
                        }
                        else {
                            $(window).off().on("scroll", function () {
                                if ($(window).scrollTop() > $("body").height() - $(window).height() - 20) {
                                    nextpage();
                                }
                            });
                        }
                    }
                    else {
                        if (page == 1) {
                            $("#divList").append($('<div class="ac">没有数据</div>'));
                        }
                        else {
                            $("#divList").append($('<div class="ac">没有更多了</div>'));
                        }
                    }
                    isLoading = false;
                }
            });
        }

        function createHTML(data) {
            var str = "";
            $.each(data, function (i, item) {
                str += '<section id="r' + item.Id + '" class="flexbox listItem" data-floor="' + item.Replyfloor + '" onclick="quoteReply(' + item.Id + ', ' + item.Replyfloor + ');">';
                str += '<div id="r' + item.Id + '" class="withdrawals-panel">';
                str += '    <div class="groupby-img-panle"><a href="/Shop/Detail/' + item.Id + '"><img src="/upload/' + item.ShopImageUrl + '" class="am-img-responsive" /></a></div>';
                str += '    <div class="groupby-info-panle">';
                str += '        <h3><a href="/Shop/Detail/' + item.Id + '">' + item.ShopName + '</a></h3>';
                str += '        <p>.No.' + item.ShopNo + '</p>';
                str += '        <p style="border-bottom: 1px solid #ababaa;">' + item.Address + '</p>';
                str += '    </div>';
                str += '</div>';
            });

            $("#divList").append(str);
        }
    </script>
</body>
</html>
