
@charset "UTF-8";
/*only support webkit browser*/
/*public vars*/
/*color vars*/
/*text vars*/
/*space vars*/
/*screen min-width, min-height*/
/*
 * 1rem=20px for 320px(中低端分辨率).
 * 1rem=22.5px for 360px(高端分辨率).
 */

html {
    font-size: 20px;
    /*-webkit-text-size-adjust: none;*/
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /*-webkit-tap-highlight-color: transparent;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
}

@media all and (min-width: 359px) {
    .uc-hack {
        font-size: 22.5px;
    }
}

@media all and (min-width: 359px) and (-webkit-min-device-pixel-ratio: 1.5) {
    html {
        font-size: 22.5px;
    }
}

body, div, p, form, input, h1, h2, h3, h4, h5, ul, ol, li, dl, dt, dd, table, tbody, tr, td, textarea, img, iframe, figure {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle;
}

body {
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: none;
    background: #fff;
    color: #333333;
    font-family: "Myriad Pro", Arial, "FZLanTingHei-R-GBK", 方正兰亭黑, "Microsoft YaHei", 微软雅黑, STHeiti, 华文黑体, SimSun, 宋体, sans-serif;
    font-size: 100%;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

img {
    border: 0;
    -webkit-touch-callout: none;
}

a, *[onclick] {
    /*-webkit-tap-highlight-color: transparent;*/
    text-decoration: none;
    color: #000;
}

    a:active, a:hover {
        outline: none;
    }

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500;
}

html {
    background-color: #fff;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-map {
    -webkit-user-select: none;
    user-select: none;
}




.main-group {
    transition: transform 500ms;
}


.test-textdiv {
    position: absolute;
    white-space: nowrap;
    font-size: 12px;
    color: #000;
    padding: 0 6px;
    background-color: rgba(255, 255, 255, 0.5);
}

.test-leveldiv {
    position: absolute;
    white-space: nowrap;
    font-size: 36px;
    color: #000;
    padding: 0 6px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.map-stt-name {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 30px;
    line-height: 31px;
    text-align: center;
    font-size: 27px;
    color: #fff;
    background-color: #bd1918;
    padding: 19px 11px 14px;
    border-radius: 0 0 26px 26px;
    box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.3);
}

    .map-stt-name.set-top {
        top: auto;
        bottom: 70px;
        border-radius: 26px 26px 0 0;
    }



/* animate */

.ani-subway {
    position: absolute;
    /* transform: translate3d(-50%, -50%, 0px) translate3d(-150px, -290px, -11px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); */
    transform-style: preserve-3d;
    width: 888px;
    height: 72px;
    background-image: url(../pic/z21.png);
    transform-origin: 50% 50% 0px;
    opacity: 1;
    display: block;
    animation-name: subway-animate;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    /* animation-fill-mode: both; */
    animation-timing-function: linear;
}


.ani-car-transition {
    transition: transform 0.5s;
    pointer-events: none;
}

.ani-car-light {
    animation-name: car-light-animate;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    /*animation-timing-function: linear;*/
}


@keyframes subway-animate {
    0% {
        transform: translate3d(-50%, -50%, 0px) translate3d(-2270px, -276px, -11px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);
    }

    50% {
        transform: translate3d(-50%, -50%, 0px) translate3d(-150px, -290px, -11px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);
    }

    100% {
        transform: translate3d(-50%, -50%, 0px) translate3d(1970px, -309px, -11px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1);
    }
}

@keyframes car-light-animate {
    0% {
        opacity: 0.3
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0.3
    }
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }

    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0,-4px,0);
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}
















.map-dialog {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    z-index: 5;
}

    .map-dialog.show {
        display: block;
    }

.map-dlog-cont {
    position: absolute;
    top: 17%;
    bottom: 6%;
    left: 6%;
    right: 6%;
    text-align: center;
    background-color: rgba(253, 253, 156, 0.64);
    overflow: visible;
    font-size: 15px;
}

    .map-dlog-cont:before {
        position: absolute;
        display: block;
        content: '';
        top: -73px;
        left: -10px;
        background-image: url(../img/line4.png);
        background-repeat: no-repeat;
        background-size: 90px;
        width: 90px;
        height: 75px;
    }

    .map-dlog-cont:after {
        position: absolute;
        display: block;
        content: '';
        top: -59px;
        height: 59px;
        right: 0px;
        left: 80px;
        background-color: rgba(253, 253, 156, 0.64);
    }

.map-dlog-tabs {
    position: absolute;
    right: 5px;
    display: flex;
    flex-direction: column;
    top: 10px;
    bottom: 16px;
    line-height: 1;
    table-layout: fixed;
    z-index: 6;
    padding: 0 5px 0 0;
    overflow: hidden;
}

    .map-dlog-tabs > div {
        flex: 1;
        width: 24px;
        text-align: center;
        display: flex;
        font-size: 14px;
        font-weight: bold;
        padding: 0 3px;
        line-height: 1.1;
        align-items: center;
        background-color: #aaa;
        margin: 3px 0;
        color: #000;
        border-radius: 0 6px 6px 0;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }

        .map-dlog-tabs > div.active {
            background-color: #fedf2a;
            /* box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3); */
        }


.map-dlog-slide {
    position: absolute;
    bottom: 19px;
    right: 40px;
    left: 10px;
    top: 13px;
    background-color: #fedf2a;
    z-index: 5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

    .map-dlog-slide > div {
        position: absolute;
        top: -70px;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
    }

        .map-dlog-slide > div.active {
            display: block;
        }

.map-dlog-hdiv {
    position: relative;
    height: 70px;
}

.map-dlog-hdiv {
}

.map-dlog-wrapper {
    position: relative;
    margin: -36px 0 0 0;
    padding: 0 0 20px 0;
    z-index: 4;
}

.map-dlog-station {
    position: absolute;
    font-size: 23px;
    padding: 24px 0 0 65px;
    height: 46px;
    font-weight: bold;
    color: #073e58;
    background-image: url(../img/line4st.png);
    background-repeat: no-repeat;
    background-size: auto 40px;
    background-position: 29px 21px;
}

.map-dlog-nmsg {
    position: absolute;
    top: 15px;
    right: 28px;
    width: 49px;
}

.map-dlog-cdiv {
    position: absolute;
    top: 70px;
    bottom: 0px;
    overflow-y: auto;
}

.map-dlog-cont.storeinfo, .map-dlog-cont.collect-info {
    top: 50%;
    transform: translateY(-50%) translateY(30px);
    bottom: auto;
}

.dlog-storeinfo-img {
    max-width: 85%;
    max-height: 360px;
}

.dlog-collect-info {
    max-width: 95%;
    max-height: 320px;
}




















/*dev-use*/
div.dev-use {
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    z-index: 100;
    opacity: 0;
}

    div.dev-use > img {
        width: 375px;
        margin: -20px 0 0 0;
    }

div.dev-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    /* top: 20px; */
    width: 40px;
    height: 40px;
    background-color: #DEDEDE;
    border-radius: 50%;
    border: 1px solid #aaa;
    z-index: 100;
}



/** style_tool */
.style-tool-hint {
    position: fixed;
    bottom: 20%;
    max-width: 80%;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 8px 16px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-radius: 4px;
    z-index: 100;
    font-size: 14px;
    text-align: center;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
