<?xml version="1.0"?>
<appSettings>
  <!-- ***********************Redis配置*************************-->
  <!-- 是否打开REDIS读取
  论坛帖子列表|用户帖子列表|版块置顶模板和帖子详情热点|用户关系|通用Global|其他|用户昵称
  NOTE:1.其他包括[动态消息、密码修改时间]
       2.其他和通用Global一般都是打开(除非redis挂掉，否则一直打开)
       3.论坛帖子列表关闭将会读取数据库的帖子
       4.用户昵称关闭将会读取username
            0 关闭
            1 打开-->
  <add key="BBS_ISUSE_REDIS_READ" value="0|0|0|0|1|1|0" />
  <!-- 是否打开REDIS写入(除非redis挂掉，否则一直打开)
            0 关闭
            1 打开-->
  <add key="BBS_ISUSE_REDIS_WRITE" value="1" />
  <!--平台：家在深圳 = 1,咚咚找房 = 2,咚咚抢客 = 3,哇喔 = 4-->
  <add key="Platform" value="1"/>
  <!--Elastic配置-->
  <add key="OpenElasticWrite" value="1" />
  <add key="OpenElasticRead" value="1" />
  <!--是否打开相关帖-->
  <add key="OpenRelationComment" value="1" />
  <add key="ESUrl_Default" value="http://113.105.78.59:9200" />
  <!--Subject搜索-->
  <add key="ESIndex_Subject" value="subject_test" />
  <!--搜索记录-->
  <add key="ESUrl_SearchLog" value="http://113.105.78.56:9200" />
  <add key="ESIndex_SearchLog" value="searchlog_test" />
  <!--搜索统计-->
  <add key="ESUrl_SearchStatistics" value="http://113.105.78.56:9200" />
  <add key="ESIndex_SearchStatistics" value="searchstatistics_test" />

  <!-- ***********************错误日志配置*************************-->
  <!-- 配置是否进行把错误日志记录
	          0 不需要1 记录到SQL SERVER 数据库 2 记录到txt文件 -->
  <add key="ERROR_LOG_TYPE" value="1"/>
  <!-- 配置日志记录的过滤关键字的正则表达式  例如："超时时间已到|无效的视图状态|填充无效，无法被移除"  -->
  <add key="ERROR_LOG_FILTER_REGEX" value="超时时间已到|无效的视图状态|填充无效，无法被移除"/>
  <!--此站点的唯一标识-->
  <!--当一个Errorlog表记录多个项目的日志时，设置不同的SiteID做区分(前台用1，后台用2），如果只有一个网站，可直接设置为 0-->
  <add key="ERROR_LOG_SITE_ID" value="2"/>
  <!-- ************************************************************-->
  <add key="SiteId" value="54"/>
  <add key="serverDomain" value="http://auth.yitu.com"/>
  <add key="vs:EnableBrowserLink" value="false"/>
  <add key="webpages:Version" value="1.0.0.0"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="SiteId" value="54"/>
  <add key="serverDomain" value="http://auth.yitu.com"/>
  <add key="webpages:Version" value="1.0.0.0"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

  <add key="DefaultBBSDetailConnectionName" value="BBSDetail_27"/>
  <add key="DefaultBBSDetailSubjectConnectionName" value="BBSDetailSubject_2"/>
  <!--模板页面目录（有修改和外网不同）-->
  <add key="TEMPLATE_FOLDER" value="D:\SZHomeBBS_MVC\SZHomeBBSAdmin_MVC\Content\BbsIndexTemplate\"/>
  <!--新版论坛项目根目录-->
  <add key="SZHOMEBBS_SITEROOT_FOLDER" value="D:\workspace\www\bbs_mvc\"/>
  <!--缓存文件的根目录（有修改和外网不同）-->
  <add key="BBS_ADMIN_PHYSICAL_PATH" value="D:\SZHomeBBS_MVC\SZHomeBBSAdmin_MVC\Content\data\"/>
  <!--前台业主论坛js生成目录本地测试用（有修改和外网不同）-->
  <add key="SZHOMEBBS_JS_FOLDER" value="D:\SZHomeBBS_MVC\SZHomeBBSAdmin_MVC\Content\data\"/>
  <!--获取图片的域名-->
  <add key="GetImageDomain" value="http://img0.bbs.szhome.com/"/>

  <!--网易云信配置-->
  <!--网易云信接口地址-->
  <add key="NeteaseUrl" value="https://api.netease.im/nimserver"/>
  <!--开发者平台分配的appkey-->
  <add key="NeteaseAppKey" value="77beb8170aed09d7a08ff785240293f6"/>
  <!--开发者平台分配的appSecret-->
  <add key="NeteaseAppSecret" value="42def1ac8e8c"/>
  <!--随机数-->
  <add key="NeteaseNonce" value="123456"/>

  <!--推送相关三条-->
  <add key="PushUrl" value="http://192.9.99.105:89/Api/Push/"/>
  <add key="tokenName" value="E0241CB1-AD8D-4FAC-9D84-1FDEF7E59FE9"/>
  <add key="tokenValue" value="B7BCF8EF-D066-406C-86C9-D9BCD94481E8"/>
  <add key="BaiduPushToken" value="uvkBnmyeAzkJM5lV"/>

  <!--发送悄悄话的用户管理-->
  <add key="SendMessageUser" value="ligui,1|ligui,2|徐晓燕,1|刘丽华,2|红羽,2|李宏伟,3|孙阳,3|定轶,3|和弦,3|兰天,3|黄明煜,3|杨颖,3|宋欣,3|王静,3|袁明,3|张莹莹,3|詹招,3|余剑,3"/>

  <!-- COUCHBASE配置 -->
  <add key="CouchbaseServer" value="http://113.105.78.13:8091" />
  <add key="CouchbaseBucketName" value="bbsproject" />
</appSettings>
