<?xml version="1.0"?>
<connectionStrings>
  <add name="SZHomeBOL_V2013" connectionString="server=web;database=SZHomeBOL_V2013;uid=chenxiaobin;pwd=cxb54321;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSMain" connectionString="server=web;uid=webaccess_BBSMain;password=2KYDqHU9@u;database=BBSMain;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSSubject" connectionString="server=web;uid=webaccess_BBSSubject;password=U7*X4bNBfc;database=BBSSubject;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSSubjectCopy" connectionString="server=web;uid=webaccess_BBSSubject;password=U7*X4bNBfc;database=BBSSubject;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSSubjectMarket" connectionString="server=web;uid=webaccess_BBSSubject;password=U7*X4bNBfc;database=BBSSubjectMarket;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSMessage" connectionString="server=web;uid=webaccess_BBSMessage;password=mp$81seSW1;database=BBSMessage;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSUser" connectionString="server=web;uid=webaccess_BBSUser;password=tksuk^n3ZV;database=BBSUser;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSOldDetail" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="DefaultBBSDetailConnectionName" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetail_19" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetail_20" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetail_21" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetail_22" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetail_23" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetail_24" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetail_25" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetail_26" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetail_27" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetail_28" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetail_29" connectionString="server=web;uid=webaccess_BBSDetail;password=pD$YqicPJO;database=BBSDetail_25;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSDetailSubject_1" connectionString="server=web;uid=webaccess_BBSDetailSubject;password=SqHa@h3asksD;database=BBSDetailSubject;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="BBSDetailSubject_2" connectionString="server=web;uid=webaccess_BBSDetailSubject;password=SqHa@h3asksD;database=BBSDetailSubject;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="ErrorLogConnectionString" connectionString="server=web;uid=webaccess_BBSLogs;password=DkXhkxd$jU;database=BBSLogs;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSAdmin_Logs" connectionString="server=web;uid=webaccess_BBSAdmin_Logs;password=La095cviC(;database=BBSAdmin_Logs;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSLogs" connectionString="server=web;uid=webaccess_BBSLogs;password=DkXhkxd$jU;database=BBSLogs;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="BBSWatch" connectionString="server=web;uid=webaccess_BBSWatch;password=ul*fvasI^A;database=BBSWatch;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="MmClubConnectionString" connectionString="server=web;uid=webaccess;password=yitudev;database=SZhome_MmClub;Timeout=15;" providerName="System.Data.SqlClient"/>
  <add name="SZHomeCard" connectionString="server=web;uid=webaccess;password=yitudev;database=SZHomeCard;Timeout=15;" providerName="System.Data.SqlClient"/>
  <add name="SZHomeMarketConnectionString" connectionString="server=web;uid=chenxiaobin;password=cxb54321;database=SZHomeMarket_V2012;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="SZHomeMarketConnectionStringCopy" connectionString="server=web;uid=webaccess;password=yitudev;database=SZHomeMarket_V2012;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="SZHomeSingleLoginConnectionString" connectionString="server=web;uid=webaccess;password=yitudev;database=SZHomeSingleLogin;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSFans" connectionString="server=web;uid=webaccess_BBSFans;password=Fc4LF@$Nf0;database=BBSFans;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSIdentiyImages" connectionString="server=web;uid=webaccess_BBSMain;password=2KYDqHU9@u;database=BBSIdentiyImages;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBS_FULLTEXT_SEARCH" connectionString="server=web;uid=webaccess;password=yitudev;database=szhome_watch;TimeOut=30" providerName="System.Data.SqlClient"/>
  <add name="SZHomeTags" connectionString="server=web;uid=webaccess_SZHomeTags;password=ZcXXktJ%P!;database=SZHomeTags;max pool size=50000;TimeOut=30" providerName="System.Data.SqlClient"/>
  <!--<add name="SZHomeTags" connectionString="server=113.105.78.35;uid=webaccess_SZHomeTags;pwd=So#c3inU#!A1;database=SZHomeTags;TimeOut=15" providerName="System.Data.SqlClient"/>-->
  <add name="TemplateContent" connectionString="server=web;uid=webaccess_TemplateContent;password=Qr]6]o)5EH;database=TemplateContent;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="SZHomeDecoration" connectionString="server=web;uid=webaccess_SZHomeDecoration;password=L6YMCB%5$5;database=SZHomeDecoration;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBS_At" connectionString="server=web;uid=webaccess;password=yitudev;database=BBS_At;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="SZHome_Mamavip" connectionString="server=web;uid=webaccess_SZHome_Mamavip;password=m^15$xvve6;database=SZHome_Mamavip;Timeout=15;" providerName="System.Data.SqlClient"/>
  <add name="BBS_FULLTEXT_SEARCH" connectionString="server=web;uid=webaccess;password=yitudev;database=szhome_watch;TimeOut=30" providerName="System.Data.SqlClient"/>
  <add name="SZHomeFullTextDBConnectionString" connectionString="server=web;uid=webaccess;password=yitudev;database=szhome_watch;TimeOut=30" providerName="System.Data.SqlClient"/>
  <add name="BBSPhoto" connectionString="server=web;uid=webaccess_BBSPhoto;password=vOPaxTCX!q4n;database=BBSPhoto;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="AnjuHousing" connectionString="server=web;uid=webaccess_AnjuHousing;password=KsENlY@l-5;database=AnjuHousing;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="SZHomeGroup" connectionString=" server=web;database=SZHomeGroup;uid=webaccess_SZHomeGroupChat;password=4gtqU!hScS$s;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="SZHomeGroupChat" connectionString=" server=web;database=SZHomeGroupChat;uid=webaccess_SZHomeGroupChat;password=4gtqU!hScS$s;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSMobile" connectionString="server=web;uid=webaccess_SZHome_Mobile;password=uvb7X(9FiP;database=SZHome_Mobile;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="BBSLottery" connectionString="server=web;uid=webaccess_BBSLottery;password=9Yr[p=R4Tr;database=BBSLottery;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="SZHomeQuestion" connectionString="server=web;uid=webaccess_SZHomeQuestion;password=i3Y_MIpfbK_D;database=SZHomeQuestion;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="BBSUserTask" connectionString="server=web;uid=webaccess_BBSUserTask;password=W@cIwJN#uS94;database=BBSUserTask;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="BBSUserBrowseRecord" connectionString="server=web;uid=webaccess_BBSUserBrowseRecord;password=W@cIwJN#uS95;database=BBSUserBrowseRecord;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="SZHomeUser" connectionString="server=web;uid=webaccess_SZHomeUser;password=M2G_GZu#W8#Z;database=SZHomeUser;TimeOut=15" providerName="System.Data.SqlClient" />
  <add name="Articles" connectionString="server=web;uid=webaccess;password=yitudev;database=Articles;TimeOut=15" providerName="System.Data.SqlClient"/>

  <add name="SZHomeSurvey_V2" connectionString="server=web;uid=webaccess_SZHomeSurvey;password=SqHa@h2ksD;database=SZHomeSurvey_V2;TimeOut=15" providerName="System.Data.SqlClient"/>
  <add name="DongdongStatic" connectionString="server=web;uid=chenxiaobin;password=cxb54321;database=DongdongStatic;TimeOut=15" providerName="System.Data.SqlClient"/>
</connectionStrings>
