@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>后台管理系统</title>
    <link href="/Content/admin/css/bbs-login.css" rel="stylesheet" type="text/css" />
    <script src="/Content/admin/js/lib/jquery/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="/Content/admin/js/Commons.js" type="text/javascript"></script>
    <script src="/Content/admin/js/lib/layer/layer.min.js" type="text/javascript"></script>
</head>
<body>
    <form id="form1" action="/Login/Login" method="post">
        <div class="wrap fix">

            <h1 class="mb10">
                后台管理系统
            </h1>
            <img src="/Content/admin/images/line.png" class="mb15" />
            <div class="inpbox">
                <img src="/Content/admin/images/icon01.png" alt="" />
                <input name="UserName" type="text" id="UserName" class="inp-t" value="" placeholder="用户名" />
            </div>
            <div class="inpbox">
                <img src="/Content/admin/images/icon02.png" alt="" />
                <input name="Password" type="password" id="Password" class="inp-t" placeholder="密码" />
            </div>
            <input type="button" name="ibtnLogin" id="ibtnLogin" value="登录" onclick="Login();" class="loging-but mb15" />
            <br /><br /><span id="lblMessage" style="color:Red;"></span>
        </div>
    </form>
</body>
</html>
<script type="text/javascript">

    $(function () {
        $("#Password").keydown(function (e) {
            if (e.keyCode == 13) {
                Login();
            }
        });
    });

    function Login() {
        var Name = $("#UserName").val();
        var Pw = $("#Password").val();
        var Url = getUrlParam("returnurl");
        var loadi = $("#lblMessage");

        if (Name.length == 0) {
            loadi.html("用户名不能为空");
            return false;
        }

        if (Pw.length == 0) {
            loadi.html("密码不能为空");
            return false;
        }

        $.ajax({
            url: "/Manage/Login/Login/",
            type: "POST",
            data: { Name: Name, Pw: Pw },
            beforeSend: function () {
                $("#ibtnLogin").attr("disabled", "disabled");
                loadi.html("登录中,请稍等...");
            },
            success: function (data) {
                $("#ibtnLogin").removeAttr("disabled");
                var handleResult = JsonEval(data);
                switch (parseInt(handleResult.StatsCode)) {
                    case 200:
                        location.href = "/Manage/Home/Index";
                        break;
                    default:
                        loadi.html(handleResult.Message);
                        break;
                }
            },
            error: function () {
                $("#ibtnLogin").removeAttr("disabled");
                loadi.html("登录异常！");
            }


        });


    }

    function getUrlParam(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]); return null; //返回参数值
    }

</script>
